php:
  build: .
  ports: 
    - "8082:80"
  volumes: 
    - ./www:/var/www/html
  container_name: yii_tests_v1
  links:
  - db
db:
  image: mysql:5.6
  command: --default-authentication-plugin=mysql_native_password
  restart: always
  ports:
  - "8083:3306"
  volumes:
    - var/lib/mysql
  environment:
    - MYSQL_ROOT_PASSWORD=yii_tests
    - MYSQL_DATABASE=yii_tests
